<div class="easyui-accordion" id="menu_shjz" fit="true" border="false">
    <div title="低保管理" id="dbglacc" class="navigation-tree" data-options="iconCls:'accord-dbgl',selected:true"
         name="低保管理" businesstype="低保" folder="views/dbgl/">


    </div>
    <div title="低保边缘户" id="dbedgeacc" class="navigation-tree" data-options="iconCls:'accord-dbedge',selected:false"
         businesstype="边缘户"  name="低保边缘户" folder="views/dbedge/">
    </div>
    <div title="临时救助" id="temporaryacc" class="navigation-tree" data-options="iconCls:'accord-temporary',selected:false"
         businesstype="临时救助"  name="临时救助" folder="views/temporaryhelp/">
    </div>
</div>