<div id="businessformprint" style="width: 1024px;margin: 0px auto">
<fieldset ><legend>用户基本信息</legend>
    <div>
        <table class="formtable mywidth1">
            <tr>
                <td class="formtdtext">户主姓名:</td>
                <td name="owername"></td>
                <td class="formtdtext">户主身份证:</td>
                <td name="owerid"></td>
            </tr>
            <tr>
                <td class="formtdtext">户口所在地:</td>
                <td name="accountaddress"></td>
                <td class="formtdtext">住房性质:</td>
                <td name="houseproperties"></td>
            </tr>
            <tr>
                <td class="formtdtext">实际居住地:</td>
                <td name="realaddress"></td>
                <td class="formtdtext">联系电话:</td>
                <td name="telnum"></td>
            </tr>

            <tr>
                <td class="formtdtext">家庭户口性质:</td>
                <td name="accounttype" ></td>
                <td class="formtdtext">申请类别:</td>
                <td name="applytype" ></td>
            </tr>

            <tr>
                <td class="formtdtext">致贫原因:</td>
                <td colspan="3" name="XXXXXX" ></td>
            </tr>
        </table>
    </div>

</fieldset>


<fieldset ><legend>家庭成员信息</legend>
    <div id="familymembersdiv" title="家庭成员信息">
        <table class="easyui-datagrid" id="familymembersgrid"
               style="position:relative;"
               data-options="rownumbers:true,toolbar:'#familymembertb',singleSelect:false,
               showFooter: true">
            <thead data-options="frozen:true">
            <tr>
                <th data-options="field:'relationship',width:100,editor:{
							type:'combobox',
							options:{
								valueField: 'value',
								url:'ajax/getenumbytype.jsp?type=dbglrelationship',
								width:60,
                                textField: 'label'
							}
						}">与户主关系</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th data-options="field:'name',width:90,align:'center',editor:'text'">姓名</th>
                <th data-options="field:'personid',width:150,align:'center',editor:{
                            type:'validatebox',
                            options:{
                                required:true
                            }
                        }">身份证</th>
                <th data-options="field:'sex',width:60,align:'center',editor:{
							type:'combobox',
							options:{
								valueField: 'value',
								url:'ajax/getenumbytype.jsp?type=dbglsex',
								width:60,
                                textField: 'label'
							}
						}">性别</th>
                <th data-options="field:'birthday',width:90,align:'center',editor:'text',
                                formatter:function(v,r,i){
                                    return v.substr(0,10);
                                }">出生日期</th>
                <th data-options="field:'age',width:60,editor:'text'">年龄</th>
                <th data-options="field:'persontype',width:60,align:'center',editor:{
							type:'combobox',
							options:{
								valueField: 'value',
								url:'ajax/getenumbytype.jsp?type=persontype',
								width:60,
                                textField: 'label'
							}
						}">人员类别</th>
                <th data-options="field:'bodystatus',width:60,align:'center',editor:{
							type:'combobox',
							options:{
								valueField: 'value',
								url:'ajax/getenumbytype.jsp?type=bodystatus',
								width:60,
                                textField: 'label'
							}
						}">健康状况</th>
                <th data-options="field:'accounttype',width:60,align:'center',editor:'text'">户口性质</th>

            </tr>
            </thead>
        </table>

    </div>


</fieldset>



<fieldset ><legend>低保业务办理信息</legend>
    <div>
        <table class="formtable mywidth2">
            <tr>
                <td class="formtdtext">收入累计月份:</td>
                <td name="icomemonth"></td>
                <td class="formtdtext">月人均收入:</td>
                <td name="averageincome"></td>
                <td class="formtdtext">家庭总人口:</td>
                <td name="households"></td>
            </tr>
            <tr>
                <td class="formtdtext">低保类型:</td>
                <td name="poortype"></td>
                <td class="formtdtext">救助证编号:</td>
                <td name="aidnum"></td>
                <td class="formtdtext">低保标准(元):</td>
                <td name="poorstandard"></td>
            </tr>
            <tr>
                <td class="formtdtext">享受人数:</td>
                <td name="enjoyednum"></td>
                <td class="formtdtext">救助日期:</td>
                <td name="helpbgtime"></td>
                <td class="formtdtext">救助金额:</td>
                <td name="totalhelpmoney"></td>
            </tr>
            <tr>
                <td class="formtdtext">救助原因:</td>
                <td colspan="5" name="helpreason" ></td>
            </tr>
            <tr>
                <td class="formtdtext">社区/村意见:</td>
                <td colspan="2" name="villageopinion" ></td>
                <td class="formtdtext">街道/乡镇意见:</td>
                <td colspan="2" name="townopinion" ></td>
            </tr>
            <tr>
                <td class="formtdtext">民政局意见:</td>
                <td colspan="5" name="civilopinion" ></td>
            </tr>

        </table>
    </div>

</fieldset>
</div>

<div id="form_btns">
    <div style="text-align:center;padding:5px">
        <a action="appformsubmit_print"  class="aprovlfuncs_btns">打印</a>
        <a action="appformsubmit_cancel" class="aprovlfuncs_btns" style="display: none">返回</a>
    </div>
</div>