

    <table id="staticsgrid"  style="width:90%;height:90%" data-options="
                url: 'ajax/getstatisticsbytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th field="divisionname" align="center" rowspan="2">地区</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th colspan="3">总计</th>
            <th colspan="3">A类</th>
            <th colspan="3">B类</th>
            <th colspan="3">C类</th>
        </tr>
        <tr>
            <th data-options="field:'totalpeoplenum',width:90,align:'center'">人数</th>
            <th data-options="field:'totalhelpmoney',width:90,align:'center'">资金支出<br>（万元）</th>
            <th data-options="field:'id',width:80,align:'center',formatter:function(v,r,i){
                 return r.totalhelpmoney/r.totalpeoplenum||0;

            }">月人均补助<br>水平（元）</th>
            <th data-options="field:'atotalpeoplenum',width:90,align:'center'">人数</th>
            <th data-options="field:'atotalhelpmoney',width:90,align:'center'">资金支出<br>（万元）</th>
            <th data-options="field:'id',width:80,align:'center',formatter:function(v,r,i){
                 return r.atotalhelpmoney/r.atotalpeoplenum||0;

            }">月人均补助<br>水平（元）</th>
            <th data-options="field:'btotalpeoplenum',width:90,align:'center'">人数</th>
            <th data-options="field:'btotalhelpmoney',width:90,align:'center'">资金支出<br>（万元）</th>
            <th data-options="field:'id',width:80,align:'center',formatter:function(v,r,i){
                 return r.btotalhelpmoney/r.btotalpeoplenum||0;

            }">月人均补助<br>水平（元）</th>
            <th data-options="field:'ctotalpeoplenum',width:90,align:'center'">人数</th>
            <th data-options="field:'ctotalhelpmoney',width:90,align:'center'">资金支出<br>（万元）</th>
            <th data-options="field:'id',width:80,align:'center',formatter:function(v,r,i){
                 return r.ctotalhelpmoney/r.ctotalpeoplenum||0;

            }">月人均补助<br>水平（元）</th>
        </tr>

        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

