

    <table id="staticsgrid"  style="width:100%;height:100%" data-options="
                url: 'ajax/getcitypanelonebytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th field="divisionname" align="center" rowspan="2">地区</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th colspan="3">当月新增低保对象情况</th>
            <th colspan="3">当月退出低保对象情况</th>
            <th colspan="3">当月补差调增情况</th>
            <th colspan="3">当月补差调减情况</th>
        </tr>
        <tr>
            <th>户口</th>
            <th>人数</th>
            <th>金额（万元）</th>
            <th>户口</th>
            <th>人数</th>
            <th>金额（万元）</th>
            <th>户口</th>
            <th>人数</th>
            <th>金额（万元）</th>
            <th>户口</th>
            <th>人数</th>
            <th>金额（万元）</th>
        </tr>

        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

