

    <table id="staticsgrid"  style="width:100%;height:100%" data-options="
                url: 'ajax/getstatisticsbytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th rowspan="2" data-options="field:'divisionname',align:'center',width:100">地区</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th rowspan="2" data-options="field:'cityfamily',align:'center',width:100">低保户数<br>（户）</th>
            <th rowspan="2" data-options="field:'cityperson',align:'center',width:100">低保人数<br>（人）</th>
            <th colspan="2">其中</th>
            <th rowspan="2" data-options="field:'citygirls',align:'center',width:100">女性</th>
            <th rowspan="2" data-options="field:'oldperson',align:'center',width:100">老年人</th>
            <th rowspan="2" data-options="field:'id',align:'center',formatter:function(v,r,i){return '';}">未成年人</th>
            <th colspan="2" >残疾人</th>
            <th rowspan="2" data-options="field:'cityperson',align:'center',width:150">本月累计低保<br>人次（万人次）</th>
            <th rowspan="2" data-options="field:'cityyearperson',align:'center',width:150">1-本月累计低保<br>人次（万人次）</th>
            <th colspan="2">资金支出情况</th>
            <th colspan="3">动态管理情况</th>
            <th rowspan="2" data-options="field:'avgcitymoney',align:'center',width:100">月平均<br>补差（元）</th>
            <th rowspan="2" data-options="field:'avgcityyearmoney',align:'center',width:100">1-本月<br>补差（元）</th>
            <th rowspan="2" data-options="field:'id',align:'center',width:130,formatter:function(v,r,i){return '';}">月低保<br>标准（元）</th>
        </tr>
        <tr>
            <th data-options="field:'id',align:'center',width:100,formatter:function(v,r,i){return '';}">五保对象<br>（人）</th>
            <th data-options="field:'jobother',align:'center',width:100">其他对象<br>（人）</th>
            <th data-options="field:'totalperson',align:'center',width:100">总人数<br>（人）</th>
            <th data-options="field:'zhongcan',align:'center',width:100">其中重症<br>残疾人（人）</th>
            <th data-options="field:'citymoney',align:'center',width:100">本月累计支出<br>资金（万元）</th>
            <th data-options="field:'cityyearmoney',align:'center',width:100">1-本月累计支出<br>资金（万元）</th>
            <th data-options="field:'newmonthpeoplenum',align:'center',width:100">本月新增低保<br>人数（人）</th>
            <th data-options="field:'logoutmonthpeoplenum',align:'center',width:100">本月退出低保<br>人数（人）</th>
            <th data-options="field:'addmoneymonthpeoplenum',align:'center',width:100">本月补差调整<br>人数（人）</th>
        </tr>

        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

