

    <table id="staticsgrid"  style="width:120%;height:120%" data-options="
                url: 'ajax/getstatisticsbytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th data-options="field:'divisionname',width:120,align:'center'">地区</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th data-options="field:'farmer',width:140,align:'center'">农垦企业人员（含农场）<br>人</th>
            <th data-options="field:'compatriot',width:140,align:'center'">国企森工（含国有林场）<br>人</th>
            <th data-options="field:'immigrant',width:120,align:'center'">两劳释放人员<br>人</th>
            <th data-options="field:'veterans',width:120,align:'center'">散居归侨侨眷<br>人</th>
            <th data-options="field:'criminal',width:120,align:'center'">非农水库移民<br>人</th>
            <th data-options="field:'graduate',width:120,align:'center'">高校毕业生<br>人</th>
            <th data-options="field:'forester',width:120,align:'center'">退役军人<br>人</th>
        </tr>
        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

