

    <table id="staticsgrid"  style="width:100%;height:100%" data-options="
                url: 'ajax/getcitypanelonebytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th field="divisionname" align="center" rowspan="2">地区</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th colspan="3">总计</th>
            <th colspan="3">A类</th>
            <th colspan="3">B类</th>
            <th colspan="3">C类</th>
        </tr>
        <tr>
            <th>人数</th>
            <th>资金支出（万元）</th>
            <th>月人均补助水平（元）</th>
            <th>人数</th>
            <th>资金支出（万元）</th>
            <th>月人均补助水平（元）</th>
            <th>人数</th>
            <th>资金支出（万元）</th>
            <th>月人均补助水平（元）</th>
            <th>人数</th>
            <th>资金支出（万元）</th>
            <th>月人均补助水平（元）</th>
        </tr>

        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

