

    <table id="staticsgrid" style="width:100%;height:100%"
           data-options="
                url: 'ajax/getstatisticsbytype.jsp',
                treeField: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th field="divisionname" width="160" align="center">地区</th>
        </tr>
        </thead>
        <thead>
        <tr>

            <th field="totalfamily" width="100" align="center" rowspan="3" >低保户数</th>
            <th field="totalperson" width="100" align="center" rowspan="3" >低保人数</th>
            <th colspan="7" >低保人数(按类别分)</th>



            <th colspan="2" >残疾人</th>




            <th colspan="2" >资金支出</th>
        </tr>
        <tr>
            <th field="oldperson" width="100" align="center" rowspan="2" >老年人</th>
            <th colspan="4" >成年人</th>
            <th colspan="2" >未成年人</th>
            <th field="disabilitynum" width="100" align="center" rowspan="2" >总人数</th>
            <th >其中</th>
            <th field="totalmoney" width="100" align="center" rowspan="2" >当月支出</th>
            <th field="totalmoney" width="100" align="center"  rowspan="2">当月累计</th>
        </tr>
        <tr>

            <th field="jobers" width="100" align="center" >在职职工</th>
            <th field="freejobers" width="100" align="center" >灵活就业人员</th>
            <th field="loginnojob" width="100" align="center" >登记失业人员</th>
            <th field="logoutnojob" width="100" align="center" >登记未失业人员</th>
            <th field="student" width="100" align="center" >在校生</th>
            <th field="otherperson" width="100" align="center" >其他人员</th>
            <th field="harddisabilitynum" width="100" align="center" >重残疾人数</th>
        </tr>
        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>


        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

