

    <table id="staticsgrid"  style="width:100%;height:100%" data-options="
                url: 'ajax/getcitypanelonebytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th field="divisionname" align="center" rowspan="2">地区</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>农垦企业人员（含农场）</th>
            <th>国企森工（含国有林场）</th>
            <th>两劳释放人员</th>
            <th>散居归侨侨眷</th>
            <th>非农水库移民</th>
            <th>高校毕业生</th>
            <th>退役军人</th>
        </tr>
        <tr>
            <th style="text-align: center">人</th>
            <th style="text-align: center">人</th>
            <th style="text-align: center">人</th>
            <th style="text-align: center">人</th>
            <th style="text-align: center">人</th>
            <th style="text-align: center">人</th>
            <th style="text-align: center">人</th>
        </tr>

        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

