

    <table id="staticsgrid"  style="width:100%;height:100%" data-options="
                url: 'ajax/getstatisticsbytype.jsp',
                field: 'divisionname'
            ">
        <thead frozen="true">
        <tr>
            <th field="divisionname" align="center" rowspan="2">地区</th>
        </tr>
        </thead>
        <thead>

        <tr style="text-align: center">
            <th colspan="3">当月新增低保对象情况</th>
            <th colspan="3">当月退出低保对象情况</th>
            <th colspan="3">当月补差调增情况</th>
            <th colspan="3">当月补差调减情况</th>
        </tr>
        <tr style="text-align: center">
            <th field="newmonthfamilynum" align="center">&nbsp;&nbsp;户&nbsp;&nbsp;口&nbsp;&nbsp;</th>
            <th field="newmonthpeoplenum" align="center">&nbsp;&nbsp;人&nbsp;&nbsp;数&nbsp;&nbsp;</th>
            <th field="newtotalhelpmoney" align="center">&nbsp;&nbsp;金额（万元）&nbsp;&nbsp;</th>
            <th field="logoutmonthfamilynum" align="center">&nbsp;&nbsp;户&nbsp;&nbsp;口&nbsp;&nbsp;</th>
            <th field="logoutmonthpeoplenum" align="center">&nbsp;&nbsp;人&nbsp;&nbsp;数&nbsp;&nbsp;</th>
            <th field="logouttotalhelpmoney" align="center">&nbsp;&nbsp;金额（万元）&nbsp;&nbsp;</th>
            <th field="addmoneymonthfamilynum" align="center">&nbsp;&nbsp;户&nbsp;&nbsp;口&nbsp;&nbsp;</th>
            <th field="addmoneymonthpeoplenum" align="center">&nbsp;&nbsp;人&nbsp;&nbsp;数&nbsp;&nbsp;</th>
            <th field="addmoneytotalhelpmoney" align="center">&nbsp;&nbsp;金额（万元）&nbsp;&nbsp;</th>
            <th field="reducemoneymonthfamilynum" align="center">&nbsp;&nbsp;户&nbsp;&nbsp;口&nbsp;&nbsp;</th>
            <th field="reducemoneymonthpeoplenum" align="center">&nbsp;&nbsp;人&nbsp;&nbsp;数&nbsp;&nbsp;</th>
            <th field="reducemoneytotalhelpmoney" align="center">&nbsp;&nbsp;金额（万元）&nbsp;&nbsp;</th>
        </tr>

        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

        <a>选择年月:<input  class="year" style="width: 80px;" >
            <input  class="month" style="width: 80px;" >
        </a>
        <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

