
<div id="moresearchwin" >


            <form method="post">
                <table class="formtable">
                    <tr>
                        <td>姓名</td>
                        <td><input class="easyui-validatebox" type="text" name="owername"></td>
                        <td>身份证</td>
                        <td><input class="easyui-validatebox" type="text" name="owerid"></td>
                    </tr>
                    <tr>
                        <td>申请类别</td>
                        <td colspan="3"><input class="easyui-combobox" type="text"
                                               name="applytype" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=dbglapplytype'"></td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td><input class="easyui-combobox lazy-combobox" type="text"
                                   name="sex" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=dbglsex'"></td>
                        <td>文化程度</td>
                        <td><input class="easyui-combobox lazy-combobox" type="text"
                                   name="education" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=education'"></td>
                    </tr>
                    <tr>
                        <td>婚姻状况</td>
                        <td><input class="easyui-combobox lazy-combobox" type="text"
                                   name="maritalstatus" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=maritalstatus'"></td>
                        <td>人员类别</td>
                        <td><input class="easyui-combobox lazy-combobox" type="text"
                                   name="persontype" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=persontype'"></td>
                    </tr>
                    <tr>
                        <td>是否享受</td>
                        <td><input class="easyui-combobox lazy-combobox" type="text"
                                   name="isenjoyed" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=isenjoyed'"></td>
                        <td>职业文化</td>
                        <td><input class="easyui-combobox lazy-combobox" type="text"
                                   name="jobstatus" data-options="valueField: 'value', textField: 'label',url:'ajax/getenumbytype.jsp?type=jobstatus'"></td>
                    </tr>
                    <tr>
                        <td>市</td>
                        <td><input name="shi" opt="shi" class="easyui-combobox" type="text"
                                data-options="
                                valueField: 'value',
                                textField: 'label',
                                url:'ajax/getsingleplace.jsp?type=shi',
                                onSelect:function(rec){
                                    var url = 'ajax/getsingleplace.jsp?type='+rec.sid;
                                    $(':input[opt=qu]').combobox('reload',url);
                                }
                                "></td>
                        <td>区（县）</td>
                        <td><input name="qu" opt="qu" class="easyui-combobox" type="text"
                                   data-options="
                                valueField: 'value',
                                textField: 'label',
                                onSelect:function(rec){
                                    $(':input[opt=jie]').combobox('clear');
                                    $(':input[opt=cun]').combobox('clear') ;
                                    var url = 'ajax/getsingleplace.jsp?type='+rec.sid;
                                    $(':input[opt=jie]').combobox('reload',url);
                                }
                                "></td>
                    </tr>
                    <tr>
                        <td>街道</td>
                        <td><input name="jie" opt="jie" class="easyui-combobox" type="text"
                                   data-options="
                                valueField: 'value',
                                textField: 'label',
                                onSelect:function(rec){
                                    $(':input[opt=cun]').combobox('clear') ;
                                    var url = 'ajax/getsingleplace.jsp?type='+rec.sid;
                                    $(':input[opt=cun]').combobox('reload',url);
                                }
                                "></td>
                        <td>社区（村）</td>
                        <td><input name="cun" opt="cun" class="easyui-combobox" type="text"
                                   data-options="
                                valueField: 'value',
                                textField: 'label'
                                "></td>
                    </tr>
                    <tr>
                        <td>审批状态</td>
                        <td colspan="3">
                            <div>
                                <input type="radio" name="audit" value="未提交"  />未提交
                                <input type="radio" name="audit" value="审批中" />审批中
                                <input type="radio" name="audit" value="退回" />退回
                                <input type="radio" name="audit" value="注销"  />注销
                                <input type="radio" name="audit" value="已审批" />已审批
                                <input type="radio" name="audit" value="审批终止" />审批终止
                                <input type="radio" name="audit" value="" checked="checked"/>全部
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>享受状态</td>
                        <td colspan="3">
                            <div>
                                <input type="radio" name="enjoy" value="未享受"  />未享受
                                <input type="radio" name="enjoy" value="已退出享受" />已退出享受
                                <input type="radio" name="enjoy" value="已享受" />已享受
                                <input type="radio" name="enjoy" value="" checked="checked"/>全部
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>查询项目</th>
                        <th>操作符</th>
                        <th>值</th>
                        <th>逻辑符</th>
                    </tr>


                </table>
            </form>



</div>
<!--
<script type="text/JavaScript">
    $('.lazy-combobox').combobox({
        onShowPanel: function () {
            var searchtype = $(this).attr('searchtype');
            var url = 'ajax/getenumbytype.jsp?type=' + searchtype;
            $(this).combobox('reload', url);
        }

    });
</script>-->
