<tr>
    <td><input class="easyui-combobox moresearchcomb name " name="name" data-options="valueField: 'value',
								width:100,
                                textField: 'label' ,required:true"   style="width:100px"></td>
    <td><input class="easyui-combobox moresearchcomb compare " searchtype="compare" data-options="disabled:true,valueField: 'value',
								width:80,
                                textField: 'label' ,required:true"  name="compare" style="width:80px"></td>
    <td><input  name="value" class="easyui-validatebox searchitem" data-options="required:true" style="width:60px"></td>
    <td><input class="easyui-combobox moresearchcomb " searchtype="logiclabel"  data-options="valueField: 'value',
								width:80,
                                textField: 'label',required:true" name="logic" style="width:80px"></td>
    <td><img src="img/del.gif"></td>
</tr>