
    <table id="businessgrid" style="width:100%;height:100%"
           data-options="

				url: 'ajax/getneedtodos.jsp'

			">
        <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'itemid',width:280,align:'center',formatter:function(value,rowData,rowIndex)
            {

                var str='<div></div>';

                str=$(str).append('<a action=&quot;appformsubmit_alter&quot; class=&quot;viewbtn&quot; style=&quot;display:none;&quot;>查看</a>');
                str=$(str).append('<a action=&quot;appformsubmit_alter&quot; class=&quot;alterbtn&quot; style=&quot;display:none;&quot;>修改</a>');
                str=$(str).append('<a action=&quot;appformsubmit_process&quot; class=&quot;processbtn&quot; style=&quot;display:none;&quot;>流程</a>');
                str=$(str).append('<a action=&quot;appformsubmit_send&quot; class=&quot;submitbtn&quot; style=&quot;display:none;&quot;>提交</a>');
                str=$(str).append('<a action=&quot;appformsubmit_del&quot; class=&quot;delbtn&quot; style=&quot;display:none;&quot;>删除</a>');
                str=$(str).append('<a action=&quot;appformsubmit_cancelsend&quot; class=&quot;cancelbtn&quot; style=&quot;display:none;&quot;>取消</a>');
                return str.html();

            }">业务操作</th>

        </tr>
        </thead>
        <thead>
        <tr>
            <th data-options="field:'owername',width:90,align:'right'">户主姓名</th>
            <th data-options="field:'processstatus',width:80,align:'center',formatter:function(val,rowData,rowIndex)
            {if(rowData['processstatustype']==processstatustype.ok){
            if(val==processdiction.steptwo)return val+'中';
                else return '已'+val;
            }
            else{
            if(val==processdiction.stepzero)return '已审批'
            else if(val==processdiction.steptwo)return val+'中';
            else return '已'+val; }}">状态</th>
            <th data-options="field:'process',width:230">当前流程</th>
            <th data-options="field:'businesstype',width:80,align:'center'">救助类别</th>
            <th data-options="width:80,align:'center',formatter:function(val,rowData,rowIndex){
                 return '待办';
            }">业务类型</th>

            <th data-options="field:'time',width:80,align:'center',sortable:true">提交时间</th>
            <th data-options="field:'businessid',width:80,align:'center',hidden:true">业务id</th>

            <th data-options="field:'displayname',width:80,align:'center'">制单人</th>


        </tr>
        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

            <a>开始时间: <input class="easyui-datebox bgdate" style="width:80px"></a>
            <a>结束时间: <input class="easyui-datebox eddate" style="width:80px"></a>
            <a>快速搜索: <input class="easyui-validatebox keyword" type="keyword" data-options="required:false" style="width:120px"></a>

            <a  class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
    </div>

