
    <table id="businessgrid" style="width:100%;height:100%"
            data-options="url: 'ajax/getpeopleinfo.jsp' "
            >
        <thead data-options="frozen:true">
        <tr>
            <th data-options="field:'owername',width:120,align:'center',formatter:function(value,rowData,rowIndex)
            {

                var str='<div></div>';

                str=$(str).append('<a action=&quot;appformsubmit_alter&quot; class=&quot;viewbtn&quot; istext=&quot;true&quot; isshow=&quot;true&quot; style=&quot;display:none;&quot;>'+value+'</a>');

                return str.html();

            }">户主姓名</th>

        </tr>
        </thead>
        <thead>
        <tr>
            <th data-options="field:'division',width:200,align:'center'">行政区划</th>
            <th data-options="field:'owerid',width:150,align:'center'">户主身份证</th>
            <th data-options="field:'relationship',width:80,align:'center'">与户主关系</th>
            <th data-options="field:'name',width:70,align:'center'">姓名</th>
            <th data-options="field:'businesstype',width:80,align:'center'">业务类型</th>
            <th data-options="field:'personid',width:150,align:'center'">身份证</th>
            <th data-options="field:'sex',width:80,align:'center'">性别</th>
            <th data-options="field:'age',width:80,align:'center',formatter:function(val,rowData,rowIndex)
            {
                var now =new Date();
                var val =now.getFullYear()-parseInt(rowData['birthday'].split('-')[0]);
                return val;
            }">年龄</th>
            <th data-options="field:'accounttype',width:80,align:'center'">户口性质</th>
            <th data-options="field:'education',width:80,align:'center'">文化程度</th>
            <th data-options="field:'political',width:80,align:'center'">政治面貌</th>
            <th data-options="field:'bodystatus',width:80,align:'center'">健康状况</th>
            <th data-options="field:'maritalstatus',width:80,align:'center'">婚姻状况</th>
            <th data-options="field:'monthlyincome',width:80,align:'center'">月人均收入</th>
            <th data-options="field:'persontype',width:80,align:'center'">人员类别</th>
            <th data-options="field:'isenjoyed',width:80,align:'center'">是否享受</th>
            <th data-options="field:'time',width:80,align:'center',sortable:true,hidden:true">时间</th>
            <th data-options="field:'rowid',width:80,hidden:true,align:'center'">人员id</th>



        </tr>
        </thead>
    </table>


    <div id="businesstb" style="padding:5px;height:auto;vertical-align: middle;">
        <a>选择年月:<input  class="year" style="width: 90px;" >
            <input  class="month" style="width: 90px;" >
        </a>
        <a>快速搜索: <input class="easyui-validatebox keyword" type="keyword" data-options="required:false" style="width:150px"></a>
        <a class="easyui-linkbutton search"  iconCls="icon-search" >搜索</a>
        <a class="easyui-linkbutton moresearch"  iconCls="icon-search" searchtype="moresearchfamily" >高级搜索</a>
        <a href="#" id="excelmenu_btn" >Excel导出</a>
    </div>

    <div id="excelmenu" style="width:100px;">
        <div data-options="name:'false'">导出当前页</div>
        <div data-options="name:'true'">导出所有</div>

    </div>
