
<div id="propertycheckwin" >
    <form method="post">
        <table class="formtable">
            <tr>
                <td><label >同意:</label><input type="radio"  name="approvalresult" value="同意" checked="true"/></td>
                <td><label>不同意:</label><input type="radio" name="approvalresult" value="不同意"/></td>
            </tr>
            <tr>
               <td colspan="2"><div style="float: left;height: 20px;padding-top: 5px;"><label style="line-height: 20px;">核定意见:</label></div>
                   <textarea name="approvalopinion" style="width: 80%"> </textarea></td>
            </tr>
        </table>

    </form>
			</div>