.main-header {
    background-color: #252F49;
    border-bottom: 0px solid #16191D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    /*text-align: center;*/
    /*height: 300px;*/
    text-shadow: 0 1px 0 #16191D;
    
}
.main-header-all{
    background-color: #252F49;
    border-bottom: 0px solid #16191D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    /*padding: 2px;*/
    /*text-align: center;*/
    /*height: 300px;*/
    text-shadow: 0 1px 0 #16191D;
}
/*设置开头li横向排列*/
.main-header li{
    list-style: none;
    font-size: 11px;
    padding: 2px;
    float:left;
}

.main-header div.header-left-div{
    padding-top: 1px;

}

.main-helpwindow {
    background-color: #FFFFFF;
    padding: 5px;
}

.main-helpwindow div.cascade {
    padding: 0 0 0 5px;
}

.main-helpwindow h2 {
    margin: 2px 0 0 0;
}
.navigation-grid .x-grid-rowbody {
    margin: 5px 20px 10px 25px !important;
    color: #555;
    font-size: 11px;
}
.navitem-div {

    line-height:60px;
    text-align: center;
    height: 60px;
}
 #loading{
        height:auto;
        position:absolute;
        left:45%;
        top:40%;
        padding:2px;
        z-index:20001;
}
 #loading a {
        color:#225588;
}
 #loading .loading-indicator{
        background:white;
        color:#444;
        font:bold 13px Helvetica, Arial, sans-serif;
        height:auto;
        margin:0;
        padding:10px;
 }
.x-tree-icon { display: none !important; }
.mouseover{cursor: hand;font-size: 10;text-decoration:underline;}
/*.my-header .x-fieldset-header-text {
    color: red;
}*/
/*.x-fieldset-header{font-size: 24px;color: #999;}*/
/*.x-fieldset{border:1px solid #B5B8C8;padding:10px;margin-bottom:10px;display:block;font-size: 24px;}*/
 /*extjs表格阴影效果*/
.shadowdiv
{
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4); /*ie*/
    -moz-box-shadow: 20px 20px 5px black; /*firefox*/
    -webkit-box-shadow: 20px 20px 5px black; /*safari或chrome*/
    box-shadow: 5px 5px 5px black; /*opera或ie9*/
}

.process{background-image: url(../img/process.gif) !important;}
.sp{background-image: url(../img/sp.gif) !important;}



 /*extjs ie 字体设置*/
.x-btn-default-small .x-btn-inner, .x-btn-default-medium .x-btn-inner, .x-btn-default-large .x-btn-inner, .x-btn-default-toolbar-small .x-btn-inner, .x-btn-default-toolbar-medium .x-btn-inner, .x-btn-default-toolbar-large .x-btn-inner, .x-menu-item-text, .x-html-editor-tb .x-font-select, .x-panel-header-default, .x-panel-header-text-default, .x-panel-header-default-framed, .x-tip-header, .x-tip-body, .x-form-invalid-tip-body, .x-tip-header-text, .x-progress-text, .x-toolbar, .x-toolbar .x-form-item-label, .x-toolbar .x-toolbar-text, .x-window-header-text-default, .x-tab-bar, .x-tab button, .x-grid-rowbody, .x-grid-row .x-grid-cell, .x-grid-group-title, .x-grid-row-editor .x-form-field, .x-grid-row-editor .x-form-display-field, .x-form-invalid-under, .x-fieldset-header, .x-column-header, .x-mask-msg div, .x-btn-group-header-text-default-framed, table.x-datepicker-inner a, .x-monthpicker-item, .x-dd-drag-ghost
{
    font-size: 12px;
}

.x-column-header
{
    text-shadow: 0;
}
.indexbackground
{
    background:#e6f4fc url(../img/mainbg.jpg) bottom center no-repeat;
}
/*
.welcome-title
{
    background: url(/img/title.png) no-repeat;position:absolute; top:38%; left:50%; margin-left:-232px;
}*/
