<div style="height: 100%;width: 100%;">
    <div style="width: 570px;">
        <div>
            <div style="height: 250px;">
                <div id="homegreet">
                    <p>岱山县!</p>
                    <p>欢迎您登录岱山县社会救助信息平台!</p>
                    <div>您有未读<span  id="homegreetcount">0</span>条待处理事务</div>
                </div>
            </div>

        </div>

        <div>
            <table id="hometodolist"  style="height:250px">
                <thead>
                <tr>
                    <th data-options="field:'owername',width:60,align:'center',fixed:true,formatter:function(v,r,i){
                         var str='<div></div>';
                          str=$(str).append('<a action=&quot;owername&quot;>'+v+'</a>');
                          return str.html();
                    }">人员</th>
                    <th data-options="field:'owerid',width:130,align:'center',fixed:true">身份证</th>
                    <th data-options="field:'businesstype',width:60,align:'center'">名称</th>
                    <th data-options="field:'time',width:100,align:'center',formatter:function(v,r,i){
                        return v.substr(5)
                    }">提交时间</th>
                    <th data-options="field:'username',width:80,align:'center'">提交人</th>
                    <th data-options="field:'approvalopinion',width:120,align:'center'">原因</th>
                    <th data-options="field:'action',width:40,align:'center',formatter:function(v,r,i){
                         var str='<div></div>';
                          str=$(str).append('<a class=&quot;yw-regist&quot; action=&quot;checked&quot;>&nbsp;&nbsp;&nbsp;&nbsp;</a>');
                          return str.html();
                    }">已阅</th>
                </tr>
                </thead>
                </table>
        </div>
    </div>

    <div style="width: 300px;display: none;">
        <div style="height: 250px;">
            <table id="homenotice"></table>
        </div>
        <div>
            <table id="homefiledownload"></table>
        </div>
    </div>




</div>
