<div class="easyui-panel" id="formcontentpanel" style="overflow-y: scroll;" title="低保户信息" data-options="fit:true"  >
    <div id="signatures" class="signatures">
    </div>
    <div style="padding:10px 30px 30px 30px;" >
        <form id="mainform" method="post">
        </form>

    </div>

</div>

<div id="form_btns">
    <div style="text-align:center;padding:5px">
        <!--<a  id="appformmore" class="aprovlfuncs_btns" type="低保">更多</a>-->
        <a action="appformsubmit_save" class="aprovlfuncs_btns" isshow="true" >保存</a>
        <a action="appformsubmit_cancel" class="aprovlfuncs_btns" isshow="true"  >返回</a>
    </div>

</div>